<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Size Master</h5>
        </div>
        <div class="card-body tab2-card">

            <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewtab" (navChange)="tabChange($event)">
                <li ngbNavItem="addtab">
                    <a ngbNavLink>Add</a>
                    <ng-template ngbNavContent>
                        <!--Add Start-->
                        <form [formGroup]="addForm" (ngSubmit)="submit()">
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>Name</label>
                                <input class="form-control col-xl-8 col-md-7" type="text" formControlName="name">
                                <div class="col-xl-3 col-md-4"></div>
                                <div class="col-xl-8 col-md-7" *ngIf="ctrl['name'].touched && ctrl['name'].invalid">
                                    <span style="color:#dc3545 !important" *ngIf="ctrl['name'].hasError('required')">
                                        {{validationMessage.name.required}}
                                    </span>
                                    <div class="text-danger">{{formErrors.name}}</div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="addForm.invalid">{{buttonText}}</button>
                                <button type="button" class="btn btn-danger mx-2" (click)="cancelForm()">Cancel</button>
                            </div>
                        </form>
                        <!--Add End-->
                    </ng-template>
                </li>
                <li ngbNavItem="viewtab">
                    <a ngbNavLink>View</a>
                    <ng-template ngbNavContent>
                        <!--View Start-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="custom-datatable">
                                                <ngx-datatable class="bootstrap" [rows]="objRows" [columnMode]="'force'"
                                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                                    [limit]="5">
                                                    <ngx-datatable-column name="Name"></ngx-datatable-column>
                                                    <ngx-datatable-column name="Created Date" prop="createdOn">
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Actions">
                                                        <ng-template ngx-datatable-cell-template let-row="row" >
                                                            <button type="button" (click)="edit(row.id)" title="Edit" class="action-button">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>
                                                              </button>
                                                              <button type="button" (click)="delete(row.id)" title="Delete" class="action-button">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                                              </button>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--View End-->
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>